<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    <div uk-height-viewport="" class="uk-section uk-section-small uk-flex uk-flex-middle uk-text-center"
        style="min-height: calc(100vh);">
        <div class="uk-grid-divider uk-width-expand uk-flex-center" uk-grid>
            <div>
                <h1 class="uk-heading-2xlarge uk-text-center">
                    ٤٠٤
                </h1>
                <p class="uk-text-large">
                    الصفحة غير موجودة
                </p>
                <p class="uk-text-medium">
                </p>
            </div>
            <div>
                <h1 class="uk-heading-2xlarge uk-text-center">
                    404
                </h1>
                <p class="uk-text-large">
                    Page not found
                </p>
            </div>
        </div>
    </div>
</body>

</html>