<head>
        <title>{{ d12n.strings.title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />

        <!-- Arabic Font -->
        <link href="https://fonts.googleapis.com/css?family=Almarai&display=swap" rel="stylesheet">
    
        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>
    
        <style>
            @import url("http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css");

            html, body {
                overflow-x: hidden;
            }
    
            html[lang=ar],
            html[lang=ar] h4,
            html[lang=ar] strong,
            html[lang=ar] .uk-navbar-nav>li>a,
            html[lang=ar] .uk-logo {
                direction: rtl;
                font-family: 'Almarai', sans-serif !important;
            }

            html[lang=ar] dd {
                margin-inline-start: 0;
                margin-inline-end: 40px;
            }

            .horizontal-bullet-list b::after {
                content: " \00b7";
            }
            .horizontal-bullet-list b:last-child::after {
                content: "";
            }

            html[lang=en] .comma-separated::after {
                content: ",";
            }

            html[lang=ar] .comma-separated::after {
                content: "،";
            }

            html[lang=en] .comma-separated:last-child::after,
            html[lang=ar] .comma-separated:last-child::after {
                content: "";
            }

            .record .uk-card-media-bottom {
                max-height: 2em;
            }
        </style>
    </head>
    