{{> header}}

<form action="." method="GET" class="uk-grid-small uk-width-expand uk-flex-middle uk-visible@m" uk-grid>
    <div class="uk-search uk-search-default uk-width-expand">
        <span class="uk-search-icon-flip" uk-search-icon></span>
        <input name="term" class="uk-search-input" type="search" placeholder="{{d12n.strings.recordIndex.filterPlaceholder}}" value="{{filter.term}}">
    </div>
    <div>
        <label><input name="images" class="uk-checkbox" type="checkbox" {{#filter.images}} checked {{/filter.images}}>
            <i class="fas fa-images"></i>
        </label>
    </div>
    <div>
        <label><input name="videos" class="uk-checkbox" type="checkbox" {{#filter.videos}} checked {{/filter.videos}}>
            <i class="fas fa-video"></i>
        </label>
    </div>
    <div>
        <label><input name="links" class="uk-checkbox" type="checkbox" {{#filter.links}} checked {{/filter.links}}>
            <i class="fas fa-link"></i>
        </label>
    </div>
    <div>
        <button class="uk-button uk-button-default">
            <i class="fas fa-search"></i>
        </button>

    </div>
    <div>
        <ul class="uk-pagination uk-flex-right uk-flex-middle" uk-margin>
            <li><a href="{{pagination.first}}" uk-icon="icon: chevron-double-left"></a></li>
            {{#pagination.prev}}
            <li><a href="{{pagination.prev}}" uk-icon="icon: chevron-left"></a></li>
            {{/pagination.prev}}
            {{^pagination.prev}}
            <li class="uk-disabled" style="opacity: 0.5;"><span uk-icon="icon: chevron-left"></a></li>
            {{/pagination.prev}}
            <li class="uk-active"><span dir="ltr">{{pagination.currentLabel}} / {{pagination.lastLabel}}</span></li>
            <li><a href="{{pagination.next}}" uk-icon="icon: chevron-right"></a></li>
            <li><a href="{{pagination.last}}" uk-icon="icon: chevron-double-right"></a></li>
        </ul>

    </div>
</form>

<form action="." method="GET" class="uk-hidden@m">
    <div class="uk-flex-middle uk-grid-small" uk-grid>
            <div class="uk-search uk-search-default uk-width-expand">
                <input name="term" class="uk-search-input" type="search" placeholder="{{d12n.strings.recordIndex.filterPlaceholder}}" value="{{filter.term}}">
            </div>
            <div>
                <label><input name="images" class="uk-checkbox" type="checkbox" {{#filter.images}} checked {{/filter.images}}>
                    <i class="fas fa-images"></i>
                </label>
            </div>
            <div>
                <label><input name="videos" class="uk-checkbox" type="checkbox" {{#filter.videos}} checked {{/filter.videos}}>
                    <i class="fas fa-video"></i>
                </label>
            </div>
            <div>
                <label><input name="links" class="uk-checkbox" type="checkbox" {{#filter.links}} checked {{/filter.links}}>
                    <i class="fas fa-link"></i>
                </label>
            </div>
            <div>
                <button class="uk-button uk-button-default uk-button-small">
                    <i class="fas fa-search"></i>
                </button>
            </div>
    </div>
        <div class="uk-grid-large uk-margin uk-flex-middle" uk-grid>
            <div><a href="{{pagination.first}}" uk-icon="icon: chevron-double-left"></a></div>
            {{#pagination.prev}}
            <div><a href="{{pagination.prev}}" uk-icon="icon: chevron-left"></a></div>
            {{/pagination.prev}}
            {{^pagination.prev}}
            <div class="uk-disabled" style="opacity: 0.5;"><span uk-icon="icon: chevron-left"></a></div>
            {{/pagination.prev}}
            <div class="uk-active uk-width-expand uk-text-center"><span dir="ltr">{{pagination.currentLabel}} / {{pagination.lastLabel}}</span></div>
            <div><a href="{{pagination.next}}" uk-icon="icon: chevron-right"></a></div>
            <div><a href="{{pagination.last}}" uk-icon="icon: chevron-double-right"></a></div>
        </div>

</form>



<div class="uk-grid-large uk-margin-top uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-3@l uk-child-width-1-4@xl uk-text-center" uk-grid="masonry: true">
    {{#records}}
    <div>
        <a class="uk-link-text uk-link-toggle" href="{{platform}}/{{id}}">
            <div class="uk-card uk-card-default uk-card-hover">
                {{#header}}
                    <div class="uk-background-cover uk-height-medium" data-src="{{header}}" uk-img></div>
                {{/header}}
                <div class="uk-card-body" style="overflow-x: hidden;">
                    <span class="uk-link-heading"><em>@{{author}}</em> {{{text}}}</span>
                </div>
                <div class="uk-card-footer">
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-text-{{d12n.strings.navigation.backwards}">
                            <b title="Platform: {{platform}}">{{{platformIcon}}}</i></b>
                            <b title="Date: {{original_time}}">{{displayTime}}</i></b>
                        </div>
                        <div class="uk-width-expand"></div>
                        <div class="horizontal-bullet-list uk-visible@s">
                            {{#images.length}}
                            <b title="Images: {{images.length}}"><i class="fas fa-images"></i> {{images.length}} </b>
                            {{/images.length}}
                            {{#videos.length}}
                            <b title="Videos: {{videos.length}}"><i class="fas fa-video"></i> {{videos.length}} </b>
                            {{/videos.length}}
                            {{#likes}}
                            <b title="Likes: {{likes}}"><i class="fas fa-heart"></i> {{likes}}</b>
                            {{/likes}}
                            {{#extra.retweets}}
                            <b title="Retweets: {{extra.retweets}}"><i class="fas fa-retweet"></i> {{extra.retweets}}</b>
                            {{/extra.retweets}}
                            {{#responses}}
                            <b title="Responses: {{responses}}"><i class="fas fa-comment"></i> {{responses}}</b>
                            {{/responses}}
                            {{#links}}
                            <b title="Links: {{links}}"><i class="fas fa-link"></i> {{links}}</b>
                            {{/links}}
                            <!-- <a title="Link to record page" href="/record/{{platform}}/{{id}}"><i class="fas fa-link"></i></a> &bull;
                            <a title="Link to record data" href="/record/{{platform}}/{{id}}.json"><i class="fas fa-database"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {{/records}}
</div>

<ul class="uk-pagination">
    {{#pagination.prev}}
    <li class="uk-margin-auto-{{d12n.strings.navigation.forwards}}">
        <a href="{{pagination.prev}}">
        <span class="uk-margin-small-left" uk-pagination-previous></span> {{ d12n.strings.recordIndex.previous }}</a>
    </li>
    {{/pagination.prev}}
    {{#pagination.next}}
    <li class="uk-margin-auto-{{d12n.strings.navigation.backwards}}">
        <a href="{{pagination.next}}">{{ d12n.strings.recordIndex.next }} <span class="uk-margin-small-right" uk-pagination-next></span></a>
    </li>
    {{/pagination.next}}
</ul>

{{> footer}}