{{> header}}
<div class="uk-child-width-expand@s" uk-grid>
    <div>
        <div>
            <h4 class="uk-heading-line"><span>{{d12n.strings.record.data}}</span></h4>
            <table class="uk-table uk-table-divider">
                <!-- <thead>
                    <tr>
                        <th class="uk-width-small">{{d12n.strings.record.field}}</th>
                        <th>{{d12n.strings.record.value}}</th>
                    </tr>
                </thead> -->
                <tbody>
                    <tr>
                        <td>{{d12n.strings.record.platform}}</td>
                        <td> {{platform}} </td>
                    </tr>
                    <tr>
                        <td>{{d12n.strings.record.author}}</td>
                        <td> <a href="/{{d12n.language}}/archive/?term={{author}}">{{author}}</a> </td>
                    </tr>
                    <tr>
                        <td>{{d12n.strings.record.text}}</td>
                        <td style="word-break: break-word;"> {{text}} </td>
                    </tr>
                    <tr>
                        <td>{{d12n.strings.record.posted}}</td>
                        <td>{{original_time}}</td>
                    </tr>
                    {{#location}}
                    <tr>
                        <td>{{d12n.strings.record.location}}</td>
                        <td> {{location}} </td>
                    </tr>
                    {{/location}}
                    <tr>
                        <td>{{d12n.strings.record.tags}}</td>
                        <td>
                            {{#tags}}
                            <span class="comma-separated"><a href="/{{d12n.language}}/archive/?term={{.}}">{{.}}</a></span>
                            {{/tags}}
                        </td>
                    </tr>
                    <tr>
                        <td>{{d12n.strings.record.mentions}}</td>
                        <td>
                            {{#mentions}}
                            <span class="comma-separated"><a href="/{{d12n.language}}/archive/?term={{.}}">{{.}}</a></span>
                            {{/mentions}}
                        </td>
                    </tr>
                    <tr>
                        <td>{{d12n.strings.record.likes}}</td>
                        <td> {{likes}} </td>
                    </tr>
                    <tr>
                        <td>{{d12n.strings.record.retweets}}</td>
                        <td> {{extra.retweets}} </td>
                    </tr>
                    <tr>
                        <td>{{d12n.strings.record.responses}}</td>
                        <td> {{responses}} </td>
                    </tr>
                    <!-- <tr>
                        <td>Thread Previous</td>
                        <td> <a href="{{extra.thread.prev}}">{{extra.thread.prev}}</a> </td>
                    </tr> -->
                    <!-- <tr>
                        <td>Thread Next</td>
                        <td> <a href="{{extra.thread.next}}">{{extra.thread.next}}</a> </td>
                    </tr> -->
                    <!-- <tr>
                        <td>External Links</td>
                        <td>
                            {{#extra.external_links}}
                            <a href="{{.}}">{{.}}</a>
                            {{/extra.external_links}}
                        </td>
                    </tr> -->
                    <!-- <tr>
                        <td>Internal Links</td>
                        <td>{{extra.internal_links}}</td>
                    </tr> -->
                </tbody>
            </table>
            <h4 class="uk-heading-line"><span>{{d12n.strings.record.metadata}}</span></h4>
            <table class="uk-table uk-table-divider">
                <!-- <thead>
                    <tr>
                        <th class="uk-width-small">{{d12n.strings.record.field}}</th>
                        <th>{{d12n.strings.record.value}}</th>
                    </tr>
                </thead> -->
                <tbody>
                    {{#archive_time}}
                    <tr>
                        <td>{{d12n.strings.record.archived}}</td>
                        <td>{{archive_time}}</td>
                    </tr>
                    {{/archive_time}}
                    <tr>
                        <td>{{d12n.strings.record.originalUrl}}</td>
                        <td> <a style="word-break: break-word;" href="{{original_url}}">{{original_url}}</a> </td>
                    </tr>
                    <tr>
                        <td>{{d12n.strings.record.jsonData}}</td>
                        <td> <a dir="ltr" href="/api/v1/records/{{platform}}/{{id}}.json">{{id}}.json</a> </td>
                    </tr>
                    <tr>
                        <td>{{d12n.strings.record.origin}}</td>
                        <td> {{{origin_text}}} </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div>
        <div>
            {{#internal_links.0}}
            <h4 class="uk-heading-line"><span>{{d12n.strings.record.internalLinks}}</span></h4>
            {{/internal_links.0}}
            {{#internal_links}}
            <a class="uk-link-toggle" href="/archive/twitter.com/{{id}}" title="{{id}}">
                <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-grid-collapse
                {{#image}} uk-child-width-1-2@s" {{/image}} {{^image}} uk-child-width-1-1@s" {{/image}} uk-grid>
                    {{#image}}
                    <div class="uk-card-media-left uk-cover-container">
                        <img src="{{{image}}}" alt="" uk-cover>
                    </div>
                    {{/image}}

                    <div class="uk-card-body uk-link-heading">
                        <p>{{text}}</p>
                        <p><em>{{#author}}{{author}}{{/author}}</em></p>
                    </div>
                </div>
            </a>
            {{/internal_links}}
            {{#external_links.0}}
            <h4 class="uk-heading-line"><span>{{d12n.strings.record.externalLinks}}</span></h4>
            {{/external_links.0}}
            {{#external_links}}
            <a class="uk-link-toggle" href="{{url}}" title="{{url}}">
                <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-grid-collapse
                {{#image}} uk-child-width-1-2@s" {{/image}} {{^image}} uk-child-width-1-1@s" {{/image}} uk-grid>
                    <div class="uk-card-media-left uk-cover-container">
                        <img src="{{image}}" alt="" uk-cover>
                    </div>

                    <div class="uk-card-body uk-link-heading">
                        <h3 class="uk-card-title">{{title}}</h3>
                        <p>{{{description}}}</p>
                        <p><em>{{#author}}{{author}}, {{/author}} {{host}}</em></p>
                    </div>
                </div>
            </a>
            {{/external_links}}
            {{#videos.0}}
            <h4 class="uk-heading-line"><span>{{d12n.strings.record.videos}}</span></h4>
            {{/videos.0}}
            {{#videos}}
            <video class="record uk-margin-bottom" controls src="https://arsheev.s3.amazonaws.com/{{key}}" {{key}}">
            </video>
            {{/videos}}
            {{#images.0}}
            <h4 class="uk-heading-line"><span>{{d12n.strings.record.images}}</span></h4>
            {{/images.0}}
            {{#images}}
            <img class="record uk-margin-bottom" src="https://arsheev.s3.amazonaws.com/{{key}}" {{key}}" />
            {{/images}}
        </div>
    </div>
</div>

</div>

{{> footer}}